{% load staticfiles %}
<html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon.png"%}">
    <title>{% block title %}
错误！错误！
{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/lib/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/helper.css"%}" rel="stylesheet">
    <link href="{% static "css/style.css"%}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js"%}"></script>
    <script src="{% static "js/respond.min.js"%}"></script>
<![endif]-->
</head>

{% block Error %}{% endblock Error %}
    <!-- All Jquery -->
    <script src="{% static "js/lib/jquery/jquery.min.js"%}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "js/lib/bootstrap/js/popper.min.js"%}"></script>
    <script src="{% static "js/lib/bootstrap/js/bootstrap.min.js"%}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "js/jquery.slimscroll.js"%}"></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js"%}"></script>
    <!--stickey kit -->
    <script src="{% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js"%}"></script>
    <!--Custom JavaScript -->
    <script src="{% static "js/custom.min.js"%}"></script>

</body>

</html>