{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
修改个人信息 -- {{ user.username }}
{% endblock %}
{% block wrapper %}
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">个人信息 -- {{ user.username }}</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "index" %}">主页</a></li>
                        <li class="breadcrumb-item active">个人信息</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">修改个人资料</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="card-body">
                                        <form class="form-horizontal form-material" action="{% url "profile_setting" %}" method="post">
                                            {% csrf_token %}
                                            {% if warn %}
                                            <div class="form-group">
                                            <div class="alert alert-danger alert-dismissible fade show col-md-12">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <strong>警告！</strong> {{ warn }}
                                            </div>
                                            </div>
                                            {% endif %}
                                            {% if success %}
                                            <div class="form-group">
                                            <div class="alert alert-primary alert-dismissible fade show col-md-12">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <strong>警告！</strong> {{ success }}
                                            </div>
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <br>
                                                <label class="col-md-12">用户名</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="{{ user.username }}" class="form-control form-control-line" disabled="disabled" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <br>
                                                <label class="col-md-12">VIP级别</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="VIP{{ others_info.level }}" class="form-control form-control-line" disabled="disabled" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" class="col-md-12">QQ号码</label>
                                                <div class="col-md-12">
                                                    <input type="text" value="{{ user.email }}" class="form-control form-control-line" name="qq" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">旧密码</label>
                                                <div class="col-md-12">
                                                    <input type="password" value='' placeholder="请输入密码（如不需要更改请勿输入)" class="form-control form-control-line" name="opw">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">新密码</label>
                                                <div class="col-md-12">
                                                    <input type="password" value=''placeholder="请输入密码（如不需要更改请勿输入)" class="form-control form-control-line" name="pw">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">第二次输入新密码</label>
                                                <div class="col-md-12">
                                                    <input type="password" value='' placeholder="请再输入密码（如不需要更改请勿输入)" class="form-control form-control-line" name="pwa">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">代理广告</label>
                                                <div class="col-md-12">
                                                    <input type="text" value="{{ others_info.ad }}" class="form-control form-control-line" name="ad">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success">更新信息</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--second tab-->
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->

{% endblock wrapper %}

    <!-- End Wrapper -->
{% block js_more %}
      <script>
          $(function(){
            $("html").niceScroll({
                cursorcolor:"#16385d",
                cursorwidth:"5px",
                background:"#fff",
                cursorborder:"1px solid #5c4ac7",
                cursorborderradius:0
                });  // a world f
          });
      </script>
{% endblock js_more %}